
pacote-download/curso_algoritmo/Aula-1/cursoemvideo-algoritmos-1/__MACOSX/algoritmos-cursoemvideo/._.DS_Store
pacote-download/curso_algoritmo/Aula-1/cursoemvideo-algoritmos-1/__MACOSX/algoritmos-cursoemvideo/aplicativos/._.DS_Store
